.DS_Store
dist/
node_modules/
thumbs.db
.idea/
out/Nightswim Editor-win32-x64/api-ms-win-core-console-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-datetime-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-debug-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-errorhandling-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-file-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-file-l1-2-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-file-l2-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-handle-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-heap-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-interlocked-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-libraryloader-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-localization-l1-2-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-memory-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-namedpipe-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-processenvironment-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-processthreads-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-processthreads-l1-1-1.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-profile-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-rtlsupport-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-string-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-synch-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-synch-l1-2-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-sysinfo-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-timezone-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-core-util-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-conio-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-convert-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-environment-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-filesystem-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-heap-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-locale-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-math-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-multibyte-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-private-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-process-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-runtime-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-stdio-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-string-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-time-l1-1-0.dll
out/Nightswim Editor-win32-x64/api-ms-win-crt-utility-l1-1-0.dll
out/Nightswim Editor-win32-x64/blink_image_resources_200_percent.pak
out/Nightswim Editor-win32-x64/content_resources_200_percent.pak
out/Nightswim Editor-win32-x64/content_shell.pak
out/Nightswim Editor-win32-x64/d3dcompiler_47.dll
out/Nightswim Editor-win32-x64/ffmpeg.dll
out/Nightswim Editor-win32-x64/icudtl.dat
out/Nightswim Editor-win32-x64/libEGL.dll
out/Nightswim Editor-win32-x64/libGLESv2.dll
out/Nightswim Editor-win32-x64/LICENSE
out/Nightswim Editor-win32-x64/LICENSES.chromium.html
out/Nightswim Editor-win32-x64/msvcp140.dll
out/Nightswim Editor-win32-x64/natives_blob.bin
out/Nightswim Editor-win32-x64/Nightswim Editor.exe
out/Nightswim Editor-win32-x64/node.dll
out/Nightswim Editor-win32-x64/pdf_viewer_resources.pak
out/Nightswim Editor-win32-x64/snapshot_blob.bin
out/Nightswim Editor-win32-x64/ucrtbase.dll
out/Nightswim Editor-win32-x64/ui_resources_200_percent.pak
out/Nightswim Editor-win32-x64/Update.exe
out/Nightswim Editor-win32-x64/vcruntime140.dll
out/Nightswim Editor-win32-x64/version
out/Nightswim Editor-win32-x64/views_resources_200_percent.pak
out/Nightswim Editor-win32-x64/locales/am.pak
out/Nightswim Editor-win32-x64/locales/ar.pak
out/Nightswim Editor-win32-x64/locales/bg.pak
out/Nightswim Editor-win32-x64/locales/bn.pak
out/Nightswim Editor-win32-x64/locales/ca.pak
out/Nightswim Editor-win32-x64/locales/cs.pak
out/Nightswim Editor-win32-x64/locales/da.pak
out/Nightswim Editor-win32-x64/locales/de.pak
out/Nightswim Editor-win32-x64/locales/el.pak
out/Nightswim Editor-win32-x64/locales/en-GB.pak
out/Nightswim Editor-win32-x64/locales/en-US.pak
out/Nightswim Editor-win32-x64/locales/es-419.pak
out/Nightswim Editor-win32-x64/locales/es.pak
out/Nightswim Editor-win32-x64/locales/et.pak
out/Nightswim Editor-win32-x64/locales/fa.pak
out/Nightswim Editor-win32-x64/locales/fake-bidi.pak
out/Nightswim Editor-win32-x64/locales/fi.pak
out/Nightswim Editor-win32-x64/locales/fil.pak
out/Nightswim Editor-win32-x64/locales/fr.pak
out/Nightswim Editor-win32-x64/locales/gu.pak
out/Nightswim Editor-win32-x64/locales/he.pak
out/Nightswim Editor-win32-x64/locales/hi.pak
out/Nightswim Editor-win32-x64/locales/hr.pak
out/Nightswim Editor-win32-x64/locales/hu.pak
out/Nightswim Editor-win32-x64/locales/id.pak
out/Nightswim Editor-win32-x64/locales/it.pak
out/Nightswim Editor-win32-x64/locales/ja.pak
out/Nightswim Editor-win32-x64/locales/kn.pak
out/Nightswim Editor-win32-x64/locales/ko.pak
out/Nightswim Editor-win32-x64/locales/lt.pak
out/Nightswim Editor-win32-x64/locales/lv.pak
out/Nightswim Editor-win32-x64/locales/ml.pak
out/Nightswim Editor-win32-x64/locales/mr.pak
out/Nightswim Editor-win32-x64/locales/ms.pak
out/Nightswim Editor-win32-x64/locales/nb.pak
out/Nightswim Editor-win32-x64/locales/nl.pak
out/Nightswim Editor-win32-x64/locales/pl.pak
out/Nightswim Editor-win32-x64/locales/pt-BR.pak
out/Nightswim Editor-win32-x64/locales/pt-PT.pak
out/Nightswim Editor-win32-x64/locales/ro.pak
out/Nightswim Editor-win32-x64/locales/ru.pak
out/Nightswim Editor-win32-x64/locales/sk.pak
out/Nightswim Editor-win32-x64/locales/sl.pak
out/Nightswim Editor-win32-x64/locales/sr.pak
out/Nightswim Editor-win32-x64/locales/sv.pak
out/Nightswim Editor-win32-x64/locales/sw.pak
out/Nightswim Editor-win32-x64/locales/ta.pak
out/Nightswim Editor-win32-x64/locales/te.pak
out/Nightswim Editor-win32-x64/locales/th.pak
out/Nightswim Editor-win32-x64/locales/tr.pak
out/Nightswim Editor-win32-x64/locales/uk.pak
out/Nightswim Editor-win32-x64/locales/vi.pak
out/Nightswim Editor-win32-x64/locales/zh-CN.pak
out/Nightswim Editor-win32-x64/locales/zh-TW.pak
out/Nightswim Editor-win32-x64/resources/app.asar
out/Nightswim Editor-win32-x64/resources/electron.asar
out/make/squirrel.windows/x64/Nightswim Editor-1.0.0 Setup.exe
out/make/squirrel.windows/x64/NightswimEditor-1.0.0-full.nupkg
out/make/squirrel.windows/x64/RELEASES
